$color-blue: #0d6efd;
$color-indigo: #6610f2;
$color-purple: #6f42c1;
$color-pink: #d63384;
$color-red: #dc3545;
$color-orange: #fd7e14;
$color-yellow: #ffc107;
$color-green: #198754;
$color-teal: #20c997;
$color-cyan: #0dcaf0;
$color-white: #fff;
$color-gray-light: #dee2e6;
$color-gray: #6c757d;
$color-gray-dark: #343a40;
$color-light: #f8f9fa;
$color-dark: #212529;

$color-primary: $color-blue;
$color-secondary: $color-gray;
$color-success: $color-green;
$color-info: $color-cyan;
$color-warning: $color-yellow;
$color-danger: $color-red;

$font: 'Roboto Mono', SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;

$gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

$header-height: 3rem;
$header-list-padding-horizontal: 1rem;
$header-list-item-horizontal-padding: 1rem;
$header-color: $color-primary;
$header-color-hover: rgba(13, 110, 253, .8);
$header-color-active: $color-dark;
$header-color-diabled: $color-gray;
$header-background: rgba(205, 205, 205, 1);
$header-background-hover: rgba(255, 255, 255, .4);
$header-background-active: rgba(255, 255, 255, .7);

$footer-icon-margin: 0.7rem;
$footer-icon-size: 1.2rem;
$footer-padding-top: 1rem;

$content-padding-vertical: 1.6rem;
$content-padding-horizontal: 1rem;
$content-max-width: 30rem;

$page-title-margin-bottom: 1rem;
$page-title-font-size: 2rem;

$add-error-message-color: $color-danger;
$add-error-margin-top: 1rem;
$add-form-input-height: 3rem;
$add-form-input-border: 1px solid $color-gray-light;
$add-form-input-border-radius: 0.25rem;
$add-form-input-padding: 1rem;
$add-form-input-margin-bottom: 1rem;
$add-form-slider-margin-bottom: 1rem;
$add-form-input-font-size: 1rem;

$time-range-container-boder: 1px solid $color-gray-light;
$time-range-container-border-radius: $add-form-input-border-radius;
$time-range-initial-thumb-size: 6px;
$time-range-track-height: .25rem;
$time-range-track-color: $color-gray-dark;
$time-range-thumb-size: 2rem;
$time-range-thumb-border-radius: $add-form-input-border-radius;
$time-range-slider-margin: 0rem;
$time-range-slider-font-size: $add-form-input-font-size;
$time-range-slider-vertical-item-margin: 1rem;
$time-range-thumb-color: $color-primary;
$time-range-thumb-color-active: $color-success;
$time-range-thumb-border: 2px solid $color-primary;
$time-range-thumb-border-color-hover: $color-dark;
$time-range-thumb-border-color-active: $color-dark;

$entries-table-border-color: $color-gray-light;
$entries-table-margin-bottom: 1rem;
$entries-table-button-height: 2rem;
$entries-table-cell-padding: .6rem;
$entries-pagination-select-horizontal-margin: 1rem;
$entries-pagination-select-border-color: $color-gray-light;

$summary-margin-bottom: 2rem;
$summary-item-description-font-size: .8rem;
$summary-table-border-color: $color-gray-light;
$summary-table-cell-padding: .4rem .6rem;
$summary-table-current-month-color: $color-success;

$login-radio-margin-vertical: 2rem;
$login-input-margin-vertical: 1rem;
$login-button-margin-vertical: 1rem;
$login-error-message-color: $color-danger;
$login-label-padding-right: 1rem;