$header-height: 3rem;
$header-list-padding-horizontal: 1rem;
$header-list-item-horizontal-padding: 1rem;
$header-color: rgb(13, 110, 253);
$header-color-hover: rgba(13, 110, 253, .8);
$header-color-active: rgba(0, 0, 0, 1.0);
$header-background: rgba(205, 205, 205, 1);
$header-background-hover: rgba(255, 255, 255, .4);
$header-background-active: rgba(255, 255, 255, .7);

$footer-icon-margin: .6rem;
$footer-icon-size: 1.2rem;

$content-padding-vertical: 1.6rem;
$content-padding-horizontal: 1rem;

$page-title-margin-bottom: 1rem;
$page-title-font-size: 2.4rem;