@import "../../styles/globals.scss";

.input {
  text-align: center;
  width: 100%;
  height: $add-form-input-height;
  padding: $add-form-input-padding;
  margin: 0 0 $add-form-input-margin-bottom 0;
  font-size: $add-form-input-font-size;
  border-radius: $add-form-input-border-radius;
  border: $add-form-input-border;
}

.slider {
  margin: 0 0 $add-form-slider-margin-bottom 0;
}

.error {
  color: $color-danger;
}