@import "../../styles/globals.scss";

.summary {
  margin-bottom: $summary-margin-bottom;
  border-color: $summary-table-border-color;
}

.summary td {
  padding: $summary-table-cell-padding;
  vertical-align: middle;
}

.item-description {
  font-size: $summary-item-description-font-size;
}

.value {
  text-align: right;
}

.months {
  text-align: right;
  border-color: $summary-table-border-color;
}

.months td,
.months th {
  padding: $summary-table-cell-padding;
  vertical-align: middle;
}

table.months tr.month-current {
  color: $summary-table-current-month-color;
}