@import "../../styles/globals.scss";

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: $header-background;
  padding: $footer-padding-top 0;
}

.mail {
  display: block;
  width: 100%;
  text-align: center;
}

.link {
  @include nav-link;
}

.icon {
  display: block;
  margin-right: $footer-icon-margin;
  width: $footer-icon-size;
  height: $footer-icon-size;
}

.text {
  line-height: $footer-icon-size;
}