@import './styles/globals.scss';

html {
  font-size: calc($base-font-size * 1px);
}

body {
  color: $color-dark;
  margin: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
